.content{
    font-size: 1rem;
}
.title{
    font-size: 3rem;
}
.text{
    font-size: 2rem;
}
.container{
    padding:1rem;
    border: 1px solid black;
    color: white;
    background-color: black;
}
.item{
    padding: 1rem;
}
.image1{
    widows: 6rem;
    height: 20rem;
    background-size:cover;
    background-image: url("../image/1.PNG");
}
.image2{
    widows: 5rem;
    height: 35rem;
    background-size: cover;
    background-image: url("../image/2.PNG");
}
.image3{
    widows: -20rem;
    height: 20rem;
    background-size: cover;
    background-image: url("../image/3.PNG");
}
.image4{
    widows: 0rem;
    height: 57rem;
    background-size: cover;
    background-image: url("../image/4.PNG");
}
.wrapImage5{
    width: 100wh;
    height: 45rem;
    display: flex;
    justify-content: center;
}
.image5{
    width: 40vw;
    height: 45rem;
    background-size: cover;
    background-image: url("../image/5.PNG");
}
.image6{
    width: 45rem;
    height: 20rem;
    background-size: cover;
    background-image: url("../image/6.PNG");
    
}
.wrapImage6{
    width: 25wh;
    height: 22rem;
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: underline;
    color: blue;
}

.right{
    text-align: right;
}